.hero_1{
    background-image: linear-gradient(rgb(102, 78, 54,0.6),rgba(153,102,51,0.2)) , url(../../img/wallpaper.jpg);
    height: 120vh;
    background-size: cover;
    padding-top: 8vh;
}
h1{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: forestgreen;
    text-shadow: 1px 1px 2px #000;
    padding: 5vh;
}
section p{
    font-family: "Arvo", serif;
    font-size: 2rem;
    line-height: 1.3;
    text-shadow: 1px 1px 1px #000;
    color: white;
}
.form-container{
    background: rgba(73, 60, 43, 0.712);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #000;
}
.forms{
    padding-top: 10vh;
    font-family: "Arvo", serif;
    font-size: 1rem;
    line-height: 1.3;
    text-shadow: 1px 1px 1px #000;
    color: white;
}